{% extends "converter/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if not user.is_authenticated %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-2">Reset Password</legend>
                <small class="text-muted">
                    Email must be the same as the one in your profile.
                </small>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-dark btn-light" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
    {% endif %}
{% endblock content %}